{% extends "common/template_1.html"%}

{% block title%}sorry...{% endblock %}


{% block body%}

<div class="row">
	<div class="alert alert-error">
	{% if code == '1001': %}
		过期了哦
	{% elif code == '1002': %}
		sorry,服务器能力有限,因此相同操作24小时内只能执行一次哦
	{% elif code == '1003': %}
		hoho，不是你的数据吧.....不要乱看
	{% else: %}
		服务器需要休息
	{% endif%}
	</div>
</div>
{% endblock %}
