{% extends "common/template_1.html"%}

{% block title%}X 2{% endblock %}


{% block body%}

<div class="row well">
<h2>we have {{u_cnt}} members , {{r_cnt}} searchs , {{e_cnt}} events now</h2>
</div>

<div class="row">
<div class="hero-unit">
{% if 'login_user' in session: %}
	<h1>Hello, {{session['login_user']['name']}}!</h1>
{% else: %}
	<h1>Hello stranger</h2>
{% endif%}
<br />
<p>分析你的评论，发起你们的活动</p>
{% if 'login_user' not in session: %}
<p>请先使用新浪微博登陆 <a href="{{url_for('home.sina_url')}}"><img src="{{url_for('static',filename="img/sina_weibo_24.png")}}"></a></p>
{% endif %}

{% if 'login_user' in session: %}
	<hr>
	<p><span class="label label-inverse">功能 1：想知道哪些人和你评论互动的次数最多么？</span></p>
	<a href="{{url_for('user.analyze_comment')}}"><button type="submit" class="btn btn-inverse">点击分析我的评论</button></a>
	<hr>
	<p><span class="label label-inverse">功能 2：输入对方的新浪微博昵称或者uid，查找你和他/她的所有评论数据</span></p>
	<form method="POST" action="{{url_for('user.comment_with_you')}}" class="form-inline">
		<input type="text" class="span3" placeholder="nick or uid" name="obj_name">
		<button type="submit" class="btn btn-inverse">Go</button>
	</form>
	tip:微博昵称和uid的区别?如果用户改过名,则输入现在的昵称的话,是无法获取到以前昵称的评论,输入对方的uid则可以获得完整的数据,例如对方的主页是『weibo.com/u/1710252570』,后面这1710252570就是其uid.
	<hr>
	<p><span class="label label-inverse">功能 3：和朋友组织活动聚会，确定人数很麻烦，用这个！</span></p>
	<a href="{{url_for('event.create_event')}}"><button type="submit" class="btn btn-inverse">发起活动</button></a>
	<hr>
	<h2>ps,所有数据保存一天</h2>
	<hr>
	
{% endif %}

</div>
</div>


{% endblock %}
