{% extends "common/template_1.html"%}

{% block title%}analyze your Comments!{% endblock %}


{% block body%}

{% if task_id: %}
{% if is_ready:%}
<div class="row">
	<div class="alert alert-success">
	done! 你一共和 <i>{{res|length}}</i> 个人相互评论过，总共有 {{total_number}} 条评论
	</div>
</div>
{% else: %}
<div class="row">
	<div class="alert alert-success">
		program is running,may take several minutes...check status <a href={{url_for('user.records')}}>here</a>,and refresh later. <a href="{{url}}"  class="btn btn-small">Refresh</a>
	</div>
</div>
{% endif %}
{% endif %}

{% if res: %}
<div class="c1">
<div class="row well" >
	<div class="span11">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>rank</th>
				<th>avatar</th>
				<th>nickname</th>
				<th>count</th>
			</tr>
		</thead>

		<tbody>
{% for c in res: %}
			<tr>
				<th>
				{{loop.index}}
				</th>
				<th>
					<img src="{{c['profile_image_url']}}">
				</th>
				<th>
					<a href="http://weibo.com/u/{{c['uid']}}" target="_blank">{{c['name']}}</a>
				</th>
				<th>
					<a href="{{url_for('user.comment_with_you',ttid=task_id,target_id=c['uid'])}}">{{ c['cnt'] }}</a>
				</th>
			</tr>
{% endfor %}
		</tbody>
	</table>
	</div>
	
</div>
</div>
{% endif %}
{% endblock %}
