{% extends "common/template_1.html"%}

{% block title%}Comments with YOU!{% endblock %}


{% block body%}
<input type="hidden" name="page" value="{{page}}" id="page">
<input type="hidden" name="me" value="{{me}}" id="me">
<input type="hidden" name="obj_name" value="{{res['obj_name']}}" id="obj_name">

{% if task_id: %}
{% if is_ready:%}
<div class="row">
	<div class="alert alert-success">
	done! <i>{{res['comments']|length}}</i> comments between you and {{res['obj_name']}} , about {{ res['comments']|length / res['total_number'] * 100 }}% of all your comments!
	</div>
</div>
{% else: %}
<div class="row">
	<div class="alert alert-success">
		program is running,may take several minutes...check status <a href={{url_for('user.records')}}>here</a>,and refresh later. <a href="{{url}}"  class="btn btn-small">Refresh</a>
	</div>
</div>
{% endif %}
{% endif %}

<div class="c1">
{% for c in res['comments']: %}
<div class="row well" >

	<div class="row">
		<div class="span10">
		<i>Commented at {{c['created_at']}}</i>
		</div>
		<div class="span1">
		<a href="{{url_for('home.tweet',uid=c['status']['user']['id'] , id=c['status']['id']) }}" target="_blank">查看原文</a>
		</div>
	</div>

	<div class="row">
	<div class="span11">
	<table class="table table-striped">
		<tbody>
			<tr>
				<th>
					<img src="{{c['status']['user']['profile_image_url']}}">
				</th>
				<th>
					<a href="http://weibo.com/u/{{c['status']['user']['id']}}" target="_blank">{{c['status']['user']['name']}}</a> says:{{c['status']['text']}}
				</th>
				{% if 'bmiddle_pic' in c['status']:%}
				<th>
					<a href="{{c['status']['bmiddle_pic']}}" target="_blank"><img src="{{c['status']['thumbnail_pic']}}"></a>
				</th>
				{%endif%}
			</tr>
		</tbody>
	</table>
	</div>
	</div>
	

	<div class="row">
		<div class="span12">
			<blockquote><i><a href="http://weibo.com/u/{{c['user']['id']}}" target="_blank">{{c['user']['name']}}</a></i> :{{c['text']}}</blockquote>
			{% if 'reply_comment' in c :%}
				<blockquote><i><a href="http://weibo.com/u/{{c['reply_comment']['user']['id']}}" target="_blank">{{c['reply_comment']['user']['name']}}</a></i> :{{c['reply_comment']['text']}}</blockquote>
			{% endif %}
		</div>	
	</div>

</div>
{% endfor %}
</div>

{% endblock %}
