{% extends "common/template_1.html"%}

{% block title%}My Friends{% endblock %}


{% block body%}
<input type="hidden" name="page" value="2" id="page">

<div class="row">
{% if not friends: %}
<div class="alert alert-error">
	You have not follow anyone!
</div>
{% endif%}
</div>

<form action="{{url_for('user.makegroup')}}" method="post">
<div class="c1">
{% for f in friends: %}
<div class="row well">
	<div class="span2">
	<img src="{{f.profile_image_url}}">
	</div>

	<div class="span8">
	<br /><h5>{{f.name}}</h5>
	</div>

	<div class="span1">
	<br /><input type="checkbox" name="friends" value={{f.screen_name}}>
	</div>
</div>
{% endfor %}
</div>

<div class="row">
<button class="btn btn-primary" id="friends_large_btn"  ><h4>Submit</h4></button>
</div>
</form>

<div class="row">
<button class="btn btn-primary" id="friends_large_btn" onclick="loadMore()" ><h4>More</h4></button>
</div>

<br />

{% endblock %}
