{% extends "common/template_1.html"%}

{% block title%}Login{% endblock %}


{% block body%}

<div class="row">
{% if 'where' in extra and extra['where']=='new_register' %}
<div class="alert alert-success">
	Register successfully,please login.
</div>
{% endif%}
</div>

<div class="row">
{% if 'all' in error %}
<div class="alert alert-error">
	<strong>Error!</strong> {{error['all']}}
</div>
{% endif%}
</div>

<div class="row">
<div class="hero-unit">
<div class="row">

<div class="span5">
<form action="{{url_for('user.login')}}" method="post">  
        <fieldset>  
          <legend>Login</legend>sorry,we only support SINA WEIBO Auth at present 

          <div class="control-group {%if 'email' in error%}error{%endif%}">  
            <label class="control-label" for="inputError">E-mail</label>  
            <div class="controls">  
              <input type="text" id="inputError" name="email" {%if 'email' in data%} value='{{data['email']}}' {% endif %} placeholder='Your email' disabled>  
			  {% if 'email' in error: %}
              <span class="help-inline">{{error['email']}}</span>  
			  {% endif %}
            </div>  
          </div>  

          <div class="control-group {%if 'password' in error%}error{%endif%}">  
            <label class="control-label" for="inputError">Password</label>  
            <div class="controls">  
              <input type="password" id="inputError" name="password" {%if 'password' in data%} value='{{data['password']}}' {% endif %} placeholder="Your password" disabled>  
			  {% if 'password' in error: %}
              <span class="help-inline">{{error['password']}}</span>  
			  {% endif %}
            </div>  
          </div>  

		  <button type="submit" class="btn btn-primary" disabled>Login</button>

        </fieldset>  
</form>  
</div>

<div class="span5">
	<br /><br /><a href="{{url_for('home.sina_url')}}"><img src="{{url_for('static',filename="img/sina_weibo_32.png")}}"></a>
</div>
</div>

</div>
</div>
{% endblock %}
