{% extends "common/template_1.html"%}

{% block title%}secrets{% endblock %}


{% block body%}
{% if 'login_user' not in session: %}
<div class="row">
<div class="alert alert-error">
	You are not allowed.
</div>
</div>
{% else: %}

<div class="row well">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>who</th>
				<th>keyword</th>
				<th>link</th>
				<th>date</th>
				<th>type</th>
				<th>status</th>
				<th>expired</th>
			</tr>
		</thead>

		<tbody>
		{% for r in records: %}
			<tr>
				<th>{{r.m}}</th>

				<th>{{r.s}}</th>

				<th><a href="
				{% if r.type == 1:%}
					{{url_for('user.analyze_comment',task_id=r.task_id)}}
				{% else :%}
					{{url_for('user.comment_with_you',task_id=r.task_id)}}
				{% endif %}
					">{{r.task_id}}</a>
				</th>

				<th>{{r.create}}</th>
				
				<th>
				{% if r.type == 1:%}
				个人评论统计
				{% else: %}
					获取俩人历史评论数据
				{% endif %}
				</th>
				
				<th>
				{% if r.is_done: %}
				完成
				{% else: %}
				进行中
				{% endif %}
				</th>
				
				<th>
				{% if r.expire: %}
					过期
				{% else: %}
					正常
				{% endif %}
				</th>
			</tr>
		{% endfor %}
		</tbody>
	</table>

</div>



<br />
{% endif %}
{% endblock %}
