{% extends "common/template_1.html"%}

{% block title%}Register{% endblock %}


{% block body%}
<form class="well" action="{{url_for('user.register')}}" method="post">  
        <fieldset>  
          <legend>To be a Member!</legend>  

          <div class="control-group {%if 'email' in error%}error{%endif%}">  
            <label class="control-label" for="inputError">E-mail</label>  
            <div class="controls">  
              <input type="text" id="inputError" name="email" {%if 'email' in data%} value='{{data['email']}}' {% endif %} placeholder='Your email'>  
			  {% if 'email' in error: %}
              <span class="help-inline">{{error['email']}}</span>  
			  {% endif %}
            </div>  
          </div>  
          
		  <div class="control-group {%if 'name' in error%}error{%endif%}">  
            <label class="control-label" for="inputError">Nickname</label>  
            <div class="controls">  
              <input type="text" id="inputError" name="name" {%if 'name' in data%} value='{{data['name']}}' {% endif %} placeholder='Your name'>  
			  {% if 'name' in error: %}
              <span class="help-inline">{{error['name']}}</span>  
			  {% endif %}
            </div>  
          </div>  

          <div class="control-group {%if 'password1' in error%}error{%endif%}">  
            <label class="control-label" for="inputError">Password</label>  
            <div class="controls">  
              <input type="password" id="inputError" name="password1" {%if 'password1' in data%} value='{{data['password1']}}' {% endif %} placeholder="enter your password">  
			  {% if 'password1' in error: %}
              <span class="help-inline">{{error['password1']}}</span>  
			  {% endif %}
            </div>  
          </div>  

          <div class="control-group {%if 'password2' in error%}error{%endif%}">  
            <label class="control-label" for="inputError">Repeat Password</label>  
            <div class="controls">  
              <input type="password" id="inputError" name="password2" {%if 'password2' in data%} value='{{data['password2']}}' {% endif %} placeholder="repeat your password">  
			  {% if 'password2' in error: %}
              <span class="help-inline">{{error['password2']}}</span>  
			  {% endif %}
            </div>  
          </div>  

		  <button type="submit" class="btn btn-primary">Register</button>

        </fieldset>  
</form>  
{% endblock %}
