{% extends "common/template_1.html"%}

{% block title%}发起活动{% endblock %}


{% block body%}
{% if error: %}
<div class="alert alert-error">
{{error}}
</div>
{% endif %}

<form class="well form-horizontal" action="{{url_for('event.create_event')}}" method="post">  
        <fieldset>  
          <legend>填写活动详情</legend>  

          <div class="control-group">  
            <label class="control-label" for="inputError">活动时间</label>  
            <div class="controls">  
				  <input class="span3" type="text" value="{%if 'start_date' in data%} {{data['start_date']}} {%else%} 2012-05-20 {% endif %}" id="start_date" name="start_date">
				  <input class="modal-timepicker span3" type="text" id="start_time" name="start_time" value="{%if 'start_time' in data%} {{data['start_time']}} {% endif %}">
            </div>  
          </div>  
          
		  <div class="control-group">  
            <label class="control-label" for="inputError">活动地点</label>  
            <div class="controls">  
              <input type="text" class="field span8" id="inputError" name="where" {%if 'where' in data%} value='{{data['where']}}' {% endif %}>  
            </div>  
          </div>  

		  <div class="control-group">  
            <label class="control-label" for="inputError">活动详情</label>  
            <div class="controls">  
			  <textarea class="field span8" id="event_detail" rows="10" name="detail">{%if 'detail' in data%} {{data['detail']}} {% endif %}</textarea>
            </div>  
          </div>  

        <div class="offset8">  
		  <button type="submit" class="btn btn-primary">创建</button>
		</div>

        </fieldset>  
</form>  
{% endblock %}
