{% extends "common/template_1.html"%}

{% block title%}活动详情页面{% endblock %}


{% block body%}
<div class="row">
<div class="hero-unit">
<p>创建者: <b>{{cuser['name']}}</b><p />
<p>时间: <b>{{event['sd']}}  {{event['st']}}</b><p />
<p>地点: <b>{{event['w']}}</b><p />
<p>详情: <b>{% autoescape false %} {{event['d']}} {% endautoescape %}</b><p />
<p>目前参与{% if event['g']: %} {{event['g']|length}} {%else%} 0 {%endif%}人:{% if event['g']: %} {% for guy in event['g'] %} <span class="label label-info">{{guy}}</span>{% endfor %}{%endif%}<p />
<hr>
<form name="form1" lass="form-inline" method='post' action='{{url_for('event.event',event_id=event['_id'])}}' onsubmit="return check()">
	<input type="text" class="input-large" name="name" placeholder="您的姓名">
	<button type="submit" class="btn btn-primary">我要参加</button>
如果要创建活动,请先至首页登陆
</form>
</div>
</div>
{% endblock %}
