{% extends "common/template_1.html"%}

{% block title%}我的活动{% endblock %}


{% block body%}
<div class="row well">
	{% if not events[0]: %}
	<span class="label label-error">您还没创建过活动，点击菜单栏创建</span>
	{% endif %}

	<table class="table table-striped">
	<tbody>
		{% for e in events: %}
			<tr>
				<th>{{loop.index}}</th>
				<th>{{e['sd']}} {{e['st']}}</th>
				<th>{{e['w']}}</th>
				<th><a href="{{url_for('event.event',event_id=e['_id'])}}">{% if e['g']: %} {{e['g']|length}} {%else%} 0 {%endif%}人参加</a></th>
			</tr>
	</tbody>
{% endfor %}
	</table>
</div>
{% endblock %}
