<!DOCTYPE html>   
<html lang="zh-CN">   
<head>   
<meta charset="utf-8">   
<title>{% block title%}{% endblock %}</title>   
<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}" type="text/css" />
<link rel="stylesheet" href="{{url_for('static',filename='css/x2.css')}}" type="text/css" />
<link rel="stylesheet" href="{{url_for('static',filename='css/datepicker.css')}}" type="text/css" />
<link rel="stylesheet" href="{{url_for('static',filename='css/timepicker.css')}}" type="text/css" />
{% block css %}{% endblock%}
<script type="text/javascript">
/*
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32446022-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
*/
</script>

</head>  
<body>



	<!--顶部菜单栏 start-->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container">
			
			<!--网站名称-->
			<a class="brand pull-left" href="{{url_for('home.index')}}">X-2</a>

			<!--菜单-->
			<ul class="nav">
				{% if 'login_user' in session: %}
				<li {%if request.endpoint == 'user.records'%} class="active" {%endif%} class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">微博搜索<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="{{url_for('user.records')}}">历史记录</a></li>
						<li><a href="{{url_for('user.analyze_comment')}}">分析我的评论</a></li>
					</ul>
				</li>
				<li class="divider-vertical"></li>

				<li {%if request.endpoint in ['event.event','event.create_event','event.index']%} class="active" {%endif%} class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">搞活动<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="{{url_for('event.index')}}">我的活动</a></li>
						<li><a href="{{url_for('event.create_event')}}">创建活动</a></li>
					</ul>
				</li>

				<li class="divider-vertical"></li>
				<li><a href="{{url_for('user.logout')}}">Logout</a></li>
				{% endif %}
				<li class="divider-vertical"></li>
			</ul>


			</div>
		</div>
	</div>
	<!--顶部菜单栏 end-->

<div class="container">
{% block body %}{% endblock %}
</div>


{% block footer %}{% endblock %}
<div class="container">
<div class="row">
<div class="alert alert-info">
<b>what I use</b>
<a href="#" target="_blank"><span class="label label-inverse">Python</span></a>
<a href="#" target="_blank"><span class="label label-inverse">Flask</span></a>
<a href="#" target="_blank"><span class="label label-inverse">MongoDB</span></a>
<a href="#" target="_blank"><span class="label label-inverse">Redis</span></a>
<a href="#" target="_blank"><span class="label label-inverse">Celery</span></a>
<a href="#" target="_blank"><span class="label label-inverse">Bootstrap</span></a>
<b>,and of course</b>
<a href="#" target="_blank"><span class="label label-inverse">GNU/Linux</span></a>
</div>
</div>
</div>
	
<div class="container">
<div class="row">
<div class="alert alert-info">
<span class="label label-important">SWEET.X2</span>
<a href="{{url_for('user.share')}}" target="_blank"><span class="label label-inverse">Share On Weibo</span></a>
<a href="http://weibo.com/sevenupzmj" target="_blank"><span class="label label-success">Contact me</span></a>
</div>
</div>
</div>

<script src="{{url_for('static',filename='js/jquery-1.7.2.js')}}"></script>
<script src="{{url_for('static',filename='js/bootstrap.js')}}"></script>
<script src="{{url_for('static',filename='js/bootstrap-button.js')}}"></script>
<script src="{{url_for('static',filename='js/bootstrap-datepicker.js')}}"></script>
<script src="{{url_for('static',filename='js/bootstrap-timepicker.js')}}"></script>
<script src="{{url_for('static',filename='js/x2.js')}}"></script>
{% block js %}{% endblock%}

</div>
</body>  
</html>
